@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    text-rendering: optimizeLegibility;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  aside,
  header {
    z-index: 20;
  }

  button {
    select: none;
  }

  a:focus-visible,
  button:focus-visible {
    --app-background: #222222;
    --focus-color: #1a73e8;
    /* Don't animate the shadow, if present */
    outline: none;
    transition: none;
    box-shadow:
      0 0 0 2px var(--app-background),
      0 0 0 4px var(--focus-color);
  }
}

@layer utilities {
  .h-screen {
    height: 100dvh;
  }

  .min-h-screen {
    min-height: 100dvh;
  }
}

/* #region  /**=========== Scrollbar =========== */

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar,
  .scrollbar ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track,
  .scrollbar ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb,
  .scrollbar ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    opacity: 0.5;
  }
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active,
  .scrollbar ::-webkit-scrollbar-thumb:hover,
  .scrollbar ::-webkit-scrollbar-thumb:active {
    background: #a7a7a7;
  }
}

/* Firefox */
html,
.scrollbar {
  scrollbar-width: thin;
}

/* Hide Scrollbar */
.scrollbar-none::-webkit-scrollbar {
  /* WebKit: Chrome, Safari */
  display: none;
}

.scrollbar-none {
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
/* #endregion  /**======== Scrollbar =========== */
